<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="data_root"        value=".." />
		<add key="codec_class"      value="_Temp_.Codec._Temp_BattleCodec" />
		<add key="data_class"       value="_Temp_.Battle.Data._Temp_ZoneDataFactory" />
		<add key="zone_host_class"  value="_Temp_.Battle.Host._Temp_ZoneHostFactory" />
		<add key="zone_slave_class" value="_Temp_.Battle.Slave._Temp_ZoneSlaveFactory" />

		<add key="fgui_root"        value="..\FGUIEditor\assets" />

		<add key="build_func"       value="" />
		<add key="edit_class"       value="_Temp_.Win32Editor._Temp_GamePlugin3D" />
		<add key="u3d_editor"       value="..\bin_unity\MyUnity.exe -editor=1 -SceneEditor=1 &quot;-resRoot={EditorRoot}/res&quot; &quot;-editorRoot={EditorRoot}&quot; -host={EditorHost} -port={EditorPort} -parentHWND {HWND} delayed " />
		<add key="u3d_preview"      value="..\bin_unity\MyUnity.exe -editor=1     -Preview=1 &quot;-resRoot={EditorRoot}/res&quot; &quot;-editorRoot={EditorRoot}&quot; -host={EditorHost} -port={EditorPort} -parentHWND {HWND} delayed " />
		<add key="u3d_view"         value="..\bin_unity\MyUnity.exe -editor=1    -Resource=1 &quot;-resRoot={EditorRoot}/res&quot; &quot;-editorRoot={EditorRoot}&quot; -host={EditorHost} -port={EditorPort} -file={File} -dir={Dir} -resID={ResID} -resType={ResType} -resList={IsResList}" />
		<add key="u3d_runtime"      value="..\bin_unity\MyUnity.exe -battle=1                &quot;-resRoot={EditorRoot}/res&quot; &quot;-editorRoot={EditorRoot}&quot; -SceneID={SceneID} -ActorTemplateID={ActorTemplateID} -ScreenSize=720x1440" />
		<add key="u3d_mmo"          value="..\bin_unity\MyUnity.exe -gate=1                  &quot;-editorRoot={EditorRoot}&quot;" />
	</appSettings>
</configuration>
